#kosten-indicatie {

  .formfield-container {
    margin-bottom: 1em;
    
    label {
      display: inline-block;
    }
    input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }  
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
    }
    &.textfield-container {
      label {
        display: block;
        @media (min-width: 481px) {
          display: inline-block;
          width: 150px;
        }
      }
      input {
        padding: 5px 10px;
      }  
    }
    input[type=button] {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: rgba(179,179,179,0.8);
      text-decoration: none;
      border-radius: 3px;
      border: 0;
      
      @media (min-width: 481px) {
        margin-left: 155px;
      }
    }
  }
}


#kosten-indicatie-result {
  opacity: 0;
  transition: opacity .25s ease-in-out;

  &.show {
    opacity: 1;
  }
}




