#kosten-indicatie {

  .formfield-container {
    margin-bottom: 1em;
    
    label {
      display: inline-block;
      width: 150px;
    }
    
    input[type=button] {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: rgba(179,179,179,0.8);
      text-decoration: none;
      border-radius: 3px;
      border: 0;
      margin-left: 155px;
    }
  }
  
  #kosten-indicatie-result {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    
    &.show {
      opacity: 1;
    }
  }
}






