swagger: "2.0"
info:
  title: Door2doc Frontend Services
  version: v2
  description: |
    Dit is het overzicht van alle beschikbare services. De endpoints zijn
    zowel gegroepeerd op service als op scherm.

    ## Algemene conventies
    Alle datum/tijd velden volgen het formaat van [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
    Dit formaat is voorzien van tijdzone-informatie die niet noodzakelijkerwijs overeenkomt met de huidige tijdzone van de gebruiker.

    Het domein waarop de service wordt aangeroepen is ziekenhuis-afhankelijk; in dit document wordt consequent het
    Demo ziekenhuis gebruikt op https://demo.door2doc.net.

  termsOfService: Deze services zijn alleen te gebruiken door de offiële front-ends van door2doc.
  contact:
    name: door2doc
    email: yigal@publysher.nl

schemes:
  - https
host: demo.door2doc.net
basePath: /services/

produces:
  - application/json

tags:
  - name: "Service: Timeline"
  - name: "Service: Prediction"
  - name: "Service: Rooms"
  - name: "Service: Target"
  - name: "Service: Interrupt"
  - name: "Service: Capacity"
  - name: "Scherm: Live"
  - name: "Scherm: MyLive"
  - name: "Scherm: Timeline"
  - name: "Scherm: Target"
  - name: "Scherm: Capacity"
  - name: "Reporting"

definitions:
  Arts:
    type: string
    enum:
      - vpk
      - seh
      - int
      - chi
      - ov
    description: |
      Type arts:
      * vpk: Verpleegkundige (geen arts)
      * seh: SEH arts
      * int: Internist
      * chi: Chirurg
      * ov: Overig

  Care:
    type: string
    enum:
      - lc
      - mc
      - hc
    description: |
      Type zorg dat benodigd is:
      * hc: High Care
      * mc: Medium Care
      * lc: Low Care

  VisitorStatus:
    type: string
    enum:
      - wachtend
      - inbehandeling
    description: |
      Status van de bezoeker:
      * wachtend: Wachtend op arts
      * inbehandeling: Gezien door een arts
      * opname: Geregistreerd voor opname, maar nog niet opgenomen

  Timeline:
    type: object
    required:
      - visitors
    properties:
      visitors:
        type: array
        items:
          $ref: '#/definitions/VisitorRecord'
    example:
      {
        "visitors": [
          {
            "bezoek_nummer": "0000320459",
            "type_arts": "sha",
            "care": "hc",
            "status": "inbehandeling",
            "queue": 0,
            "specialisme": "Heelkunde",
            "kamernummer": "D15.01",
            "reden": "Stomp buiktrauma",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 262,
            "minuten_tot_dokter": 200,
            "minuten_sinds_dokter": 62
          },
          {
            "bezoek_nummer": "0000320452",
            "type_arts": "int",
            "care": "lc",
            "status": "wachtend",
            "queue": 0,
            "specialisme": "Interne geneeskunde",
            "kamernummer": "D17.01",
            "reden": "Algehele malaise",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 42,
            "minuten_tot_dokter": 42,
            "minuten_sinds_dokter": 0
          },
          {
            "bezoek_nummer": "0000320452",
            "type_arts": "int",
            "care": "lc",
            "status": "wachtend",
            "queue": 0,
            "specialisme": "Interne geneeskunde",
            "kamernummer": "D17.01",
            "reden": "Algehele malaise",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 42,
            "minuten_tot_dokter": 42,
            "minuten_sinds_dokter": 0
          }
        ]
      }

  VisitorRecord:
    type: object
    properties:
      bezoek_nummer:
        type: string
        description: Unieke identifier voor dit bezoek
      type_arts:
        $ref: '#/definitions/Arts'
      care:
        $ref: '#/definitions/Care'
      status:
        $ref: '#/definitions/VisitorStatus'
      queue:
        type: integer
        format: int32
        description: Totaal aantal aanwezige bezoekers die dezelfde arts nodig hebben.
        minimum: 0
      specialisme:
        type: string
        description: Het exacte specialisme van de benodigde arts.
      kamernummer:
        type: string
        description: Het kamernummer (eventueel met bednummer) waar deze bezoeker momenteel verblijft.
          Het is mogelijk dat een bezoeker wel gezien is, nog niet vertrokken is, en niet meer op een kamer ligt.
      reden:
        type: string
        description: De reden van dit bezoek.
      binnenkomst:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is binnengekomen.
      naar_kamer:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker de huidige behandelkamer is binnengekomen.
      gezien:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker voor het eerst is gezien door een arts.
      opname:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is geregistreerd voor opname.
      minuten_aanwezig:
        type: integer
        description: "De huidige verblijftijd: het aantal minuten van binnenkomst tot nu."
      minuten_tot_dokter:
        type: integer
        description: "De huidige deur-tot-doktertijd; indien de bezoeker gezien is: het aantal minuten van binnenkomst tot `gezien`; anders gelijk aan `minuten_aanwezig`."
      minuten_sinds_dokter:
        type: integer
        description: "Voor bezoekers die gezien zijn door een arts: het aantal minuten sinds `gezien`. Anders gelijk aan 0."

    required:
      - bezoek_nummer
      - type_arts
      - care
      - status
      - queue
      - reden
      - binnenkomst
      - minuten_aanwezig
      - minuten_tot_dokter
      - minuten_sinds_dokter
    example:
      {
        "bezoek_nummer": "0000320459",
        "type_arts": "sha",
        "care": "HC",
        "status": "inbehandeling",
        "queue": 0,
        "specialisme": "Heelkunde",
        "kamernummer": "D15.01",
        "reden": "Stomp buiktrauma",

        "binnenkomst": "2017-03-13T10:08:00+0200",
        "naar_kamer": "2017-03-13T10:26:00+0200",
        "gezien": "2017-03-13T11:12:00+0200",
        "minuten_aanwezig": 262,
        "minuten_tot_dokter": 200,
        "minuten_sinds_dokter": 62
      }

  PredictionList:
    type: array
    items:
      $ref: '#/definitions/Prediction'

  Prediction:
    type: object
    example:
      {
        "timestamp": "2016-08-12T09:32:35.837Z",
        "arts": "sha",
        "d2d": 24,
        "vbt": 160,
        "wachtend": 1,
        "aanwezig": 4,
        "wachtend_arts": 1,
        "aanwezig_arts": 2,
        "in_behandeling_arts": 1,
        "model": "dz-sha-aa-1:dz-sha-aw-2"
      }
    required:
      - timestamp
      - arts
      - d2d
      - vbt
      - wachtend
      - aanwezig
      - model
      - wachtend_arts
      - aanwezig_arts
      - in_behandeling_arts
    properties:
      timestamp:
        type: string
        format: date-time
        description: >
          Tijdstip waar de voorspelling voor is gemaakt. Als de service is aangeroepen met een `t` parameter
          dan is dit de waarde van die parameter.
      arts:
        type: string
        description: >
          Type arts waarvoor de voorspelling is gemaakt. Als de service is aangeroepen met een `arts` parameter, dan
          is dit de waarde van die parameter.
      d2d:
        type: integer
        format: int32
        minimum: 0
        description: Voorspelde deur-tot-doktertijd in minuten
      vbt:
        type: integer
        format: int32
        minimum: 0
        description: Voorspelde totale verblijftijd in minuten
      wachtend:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal patiënten aanwezig op tijdstip t die nog wachten op een dokter
      aanwezig:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal patiënten aanwezig op tijdstip t, ongeacht of zij een dokter gezien hebben
      wachtend_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten aanwezig op tijdstip t die nog wachten op deze specifieke arts
      aanwezig_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten aanwezig op tijdstip t, die te maken hebben met deze specifieke arts
      in_behandeling_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten in behandeling bij deze arts op tijdstip t
      model:
        type: string
        description: Identifier voor het gebruikte model

  InterruptStatus:
    type: object
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - spoed-patient
        description: Type interrupt
      seconds_remaining:
        type: integer
        format: int32
        minimum: 0
        description: >
          Aantal seconden dat deze interrupt nog aan blijft staan. Interrupts *kunnen* eerder inactief
          worden, dus dit is meer een indicatie. Afwezig indien er geen interrupt actief is.
      message:
        type: string
        description: Tekst die bij deze interrupt hoort. Afwezig indien er geen interrupt actief is.
    example:
      {
        "type": "spoed-patient",
        "seconds_remaining": 285,
        "message": "Er is een patiënt binnengebracht die al onze aandacht behoeft. Uw behandeling duurt hierdoor mogelijk langer. Bedankt voor uw begrip."
      }

  RoomDetails:
    type: object
    required:
      - kamernummer
      - bezet
    example:
      {
        "kamernummer": "TRC1.1",
        "bezet": true
      }
    properties:
      kamernummer:
        type: string
      bezet:
        type: boolean

  RoomOverview:
    type: object
    required:
      - rooms
    example:
      {
        "rooms": [
          {
            "kamernummer": "TRC1.1",
            "bezet": true
          },
          {
            "kamernummer": "TRC2.1",
            "bezet": true
          },
          {
            "kamernummer": "D01.01",
            "bezet": false
          },
          {
            "kamernummer": "D02.01",
            "bezet": false
          }
        ]
      }
    properties:
      rooms:
        type: array
        items:
          $ref: '#/definitions/RoomDetails'

  TreatmentPointOverview:
    type: object
    example:
      {
        "behandelpunten": [
          {
            "tijdvak": "2017-04-22T12:00:00+0200",
            "behandelpunten": 8,
            "vpk": 5,
            "sha": 0,
            "int": 3,
            "chi": 0,
            "ova": 0
          },
          {
            "tijdvak": "2017-04-22T13:00:00+0200",
            "behandelpunten": 10,
            "vpk": 6,
            "sha": 2,
            "int": 1,
            "chi": 0,
            "ova": 1
          }
        ],
        "beschikbaar": [
          {
            "tijdvak": "2017-04-22T12:00:00+0200",
            "vpk": 3,
            "sha": 1,
            "int": 1,
            "chi": 0,
            "ova": 0
          },
          {
            "tijdvak": "2017-04-22T13:00:00+0200",
            "vpk": 3,
            "sha": 1,
            "int": 1,
            "chi": 0,
            "ova": 0
          }
        ],
      }
    properties:
      behandelpunten:
        type: array
        description: Een lijst van behandelpunt-gegevens, geordend op tijdvak.
        items:
          $ref: '#/definitions/TreatmentPoint'
      beschikbaar:
        type: array
        description: Een lijst van beschikbare capaciteit, geordend op tijdvak.
        items:
          $ref: '#/definitions/Capacity'

  TreatmentPoint:
    type: object
    example:
      {
        "tijdvak": "2017-04-22T12:00:00+0200",
        "behandelpunten": 12,
        "vpk": 6,
        "sha": 2,
        "int": 4,
        "chi": 0,
        "ova": 0,
      }
    required:
      - tijdvak
      - behandelpunten
      - vpk
      - sha
      - int
      - chi
      - ova
    properties:
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende behandelpunten.
      behandelpunten:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor dit tijdvak
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor verpleegkundigen voor dit tijdvak
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor SEH artsen voor dit tijdvak
      int:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor internisten voor dit tijdvak
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor chirurgen voor dit tijdvak
      ova:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor 'overige' artsen voor dit tijdvak

  Capacity:
    type: object
    example:
      {
        "tijdvak": "2017-04-22T12:00:00+0200",
        "vpk": 6,
        "sha": 2,
        "int": 4,
        "chi": 0,
        "ova":  0,
      }
    required:
      - tijdvak
      - vpk
      - sha
      - int
      - chi
      - ova
    properties:
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende capaciteit.
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor verpleegkundigen voor dit tijdvak
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor SEH artsen voor dit tijdvak
      int:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor internisten voor dit tijdvak
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor chirurgen voor dit tijdvak
      ova:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor 'overige' artsen voor dit tijdvak

  TreatmentPointDetails:
    type: array
    items:
      - $ref: '#/definitions/TreatmentPointDetail'

  TreatmentPointDetail:
    type: object
    properties:
      bezoek_nummer:
        type: string
        description: Unieke identifier voor dit bezoek
      binnenkomst:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is binnengekomen.
      minuten_aanwezig:
        type: integer
        description: "De huidige verblijftijd: het aantal minuten van binnenkomst tot nu."
      patientgroep:
        type: string
        description: "Groep waar deze patient onder is geschaard voor het berekenen van behandelpunten."
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende behandelpunten.

      behandelpunten:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor dit tijdvak
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor verpleegkundigen voor dit tijdvak
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor SEH artsen voor dit tijdvak
      int:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor internisten voor dit tijdvak
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor chirurgen voor dit tijdvak
      ov:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor 'overige' artsen voor dit tijdvak

  TargetInfo:
    type: object
    required:
      - t
      - minuten_aanwezig_percentage
      - minuten_aanwezig_avg
      - visits
    example:
      {
        "t": "2017-05-22",
        "minuten_aanwezig_percentage": 67,
        "minuten_aanwezig_avg": 156,
        "visits": 40
      }
    properties:
      t:
        type: string
        format: date
        description: Begindatum van de periode waarvoor deze informatie geldig is.
      minuten_aanwezig_percentage:
        type: integer
        format: int32
        minimum: 0
        maximum: 100
        description: "Het percentage bezoeken waarvan de aanwezigheid <= 180 minuten is."
      minuten_aanwezig_avg:
        type: integer
        format: int32
        minimum: 0
        description: "De gemiddelde verblijftijd: het aantal minuten van binnenkomst tot nu."
      visits:
        type: integer
        format: int32
        minimum: 0
        description: "Het gemiddeld aantal bezoeken per dag"

  Target:
    type: object
    required:
      - data
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/TargetInfo'

parameters:
  afdeling:
    name: afdeling
    type: string
    in: query
    required: true
    description: De afdeling waarvoor deze informatie wordt opgevraagd
    enum:
      - "seh"
      - "ehh"

  tijdstip:
    name: t
    type: string
    format: 'date-time'
    in: query
    required: false
    description: Optionele datum/tijd in het verleden. Heeft 'nu' als default. Als deze parameter is opgegeven, dan
      gedraagt de service zich alsof deze op dat moment werd aangeroepen.

  d-from:
    name: from
    type: string
    format: 'date'
    in: query
    required: true
    description: Datum (zonder tijd) in het verleden; gebruikt om een periode aan te geven. 

  d-to:
    name: to
    type: string
    format: 'date'
    in: query
    required: true
    description: Datum (zonder tijd); gebruikt om een periode aan te geven.

  t-from:
    name: from
    type: string
    format: 'date-time'
    in: query
    required: true
    description: Datum/tijd in het verleden; gebruikt om een periode aan te geven.

  t-to:
    name: to
    type: string
    format: 'date-time'
    in: query
    required: true
    description: Datum/tijd; gebruikt om een periode aan te geven.

  arts:
    name: arts
    in: query
    description: Type arts
    required: false
    type: string
    enum:
      - "chi"
      - "sha"
      - "int"
      - "ova"
      - "vpk"

paths:
  /v2/rooms/:
    get:
      summary: Haal een overzicht op van de bestaande kamernummers.
      tags:
        - 'Service: Rooms'
        - 'Scherm: MyLive'
      operationId: getRooms
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: Een overzicht van de beschikbare kamers.
          schema:
            $ref: '#/definitions/RoomOverview'

  /v2/rooms/{kamernummer}/:
    get:
      summary: Informatie over de patiënt op de opgegeven kamer.
      tags:
        - 'Service: Rooms'
        - 'Scherm: MyLive'
      operationId: getRoom
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
        - name: kamernummer
          type: string
          description: Een bestaand kamernummer
          required: true
          in: path
      responses:
        200:
          description: Gegevens van de bezoeker die momenteel op deze kamer verblijft.
          schema:
            $ref: '#/definitions/VisitorRecord'
        204:
          description: Er is momenteel geen bezoeker op deze kamer.
        404:
          description: Het opgegeven kamernummer bestaat niet.
        400:
          description: Een van de parameters is incorrect.

  /v2/timeline/:
    get:
      summary: Haal een overzicht op van de huidige bezoekers.
      tags:
        - 'Service: Timeline'
        - 'Scherm: Timeline'
      operationId: getTimeline
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: Een arbitrair geordende lijst van alle bezoekers die op dit moment aanwezig zijn.
          schema:
            $ref: '#/definitions/Timeline'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/predict/:
    get:
      summary: Voorspel de wachttijd op de opgegeven afdeling
      operationId: get_prediction
      tags:
        - 'Service: Prediction'
        - 'Scherm: Live'
        - 'Scherm: MyLive'
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/arts'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: De voorspelling voor het opgegeven tijdstip
          schema:
            $ref: '#/definitions/Prediction'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/predict/range/:
    get:
      summary: Haal een serie aan voorspellingen op
      operationId: get_predictions_in_range
      tags:
        - 'Service: Prediction'
        - 'Reporting'
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/arts'
        - name: from
          in: query
          description: Datum waarop de serie begint, in het formaat YYYY-MM-DD.
          required: true
          type: string
          format: date
        - name: days
          in: query
          description: Aantal dagen waarover de serie berekend wordt.
          required: true
          default: 7
          type: integer
          format: int32
          minimum: 1
          maximum: 31
      produces:
        - text/csv
      responses:
        200:
          description: De voorspellingen voor het opgegeven tijdstip
          schema:
            $ref: '#/definitions/PredictionList'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/interrupt/spoed-patient/:
    get:
      summary: Haal de waarde van de interrupt "spoed-patient" op.
      tags:
        - 'Service: Interrupt'
        - 'Scherm: Timeline'
        - 'Scherm: Live'
        - 'Scherm: MyLive'
      operationId: getSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De status van de interrupt "spoed-patient". Indien de interrupt uit staat, is het veld 'seconds_remaining' afwezig.
          schema:
            $ref: '#/definitions/InterruptStatus'
        400:
          description: Fout bij het uitlezen van een van de parameters

    put:
      summary: Activeer de interrupt "spoed-patient".
      tags:
        - 'Service: Interrupt'
        - 'Scherm: Timeline'
      operationId: setSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De nieuwe status van de interrupt "spoed-patient".
          schema:
            $ref: '#/definitions/InterruptStatus'
        400:
          description: Fout bij het uitlezen van een van de parameters

    delete:
      summary: Deactiveer de interrupt "spoed-patient".
      tags:
        - 'Service: Interrupt'
        - 'Scherm: Timeline'
      operationId: unsetSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De nieuwe status van de interrupt "spoed-patient"; de velden 'seconds_remaining' en 'description' zullen hierin afwezig zijn.
          schema:
            $ref: '#/definitions/InterruptStatus'

  /v2/capacity/calculate/:
    get:
      summary: Bereken de capaciteit in behandelpunten over de opgegeven periode
      tags:
        - 'Service: Capacity'
        - 'Scherm: Capacity'
      operationId: getCapacity
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/d-from'
        - $ref: '#/parameters/d-to'
      produces:
        - application/json
        - text/csv
      responses:
        200:
          description: De behandelpunten voor de opgegeven periode per tijdsvak
          schema:
            $ref: '#/definitions/TreatmentPointOverview'

  /v2/capacity/calculate/details/:
    get:
      summary: Gedetailleerde output over de capaciteit
      tags:
        - 'Service: Capacity'
        - 'Reporting'
      operationId: getCapacityReport
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/d-from'
        - $ref: '#/parameters/d-to'
      produces:
        - text/csv
      responses:
        200:
          description: De behandelpunten per patiënt voor de opgegeven periode per tijdsvak
          schema:
            $ref: '#/definitions/TreatmentPointDetails'

  /v2/target/:
    get:
      summary: Geef target informatie
      tags:
        - 'Service: Target'
        - 'Scherm: Target'
      operationId: getTargetInfo
      parameters:
        - name: periode
          type: string
          default: dag
          in: query
          description: Periode waarover gerapporteerd moet worden
          enum:
            - dag
            - week
            - maand
            - jaar
        - name: dienst
          type: string
          in: query
          description: Dienst waarover gerapporteerd moet worden; indien afwezig wordt over de volledige 24h gerapporteerd.
          enum:
            - dag
            - avond
            - nacht
        - $ref: '#/parameters/arts'
        - name: bestemming
          type: string
          in: query
          description: Bestemming waarover gerapporteerd moet worden; indien afwezig wort over alle bestemmingen gerapporteerd.
          enum:
            - ontslag
            - opname

      responses:
        200:
          description: Target informatie voor de opgegeven filters. De informatie is geordend op tijd en bevat maximaal de laatste 30 datapunten.
          schema:
            $ref: '#/definitions/Target'

