swagger: "2.0"
info:
  title: Door2doc Frontend Services
  version: v2
  description: |
    Dit is het overzicht van alle beschikbare services. De endpoints zijn
    zowel gegroepeerd op service als op scherm.

    ## Algemene conventies
    Alle datum/tijd velden volgen het formaat van [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
    Dit formaat is voorzien van tijdzone-informatie die niet noodzakelijkerwijs overeenkomt met de huidige tijdzone van de gebruiker.

    Het domein waarop de service wordt aangeroepen is ziekenhuis-afhankelijk; in dit document wordt consequent het
    Demo ziekenhuis gebruikt op https://demo.door2doc.net.

  termsOfService: Deze services zijn alleen te gebruiken door de offiële front-ends van door2doc.
  contact:
    name: door2doc
    email: yigal@publysher.nl

schemes:
  - https
host: demo.door2doc.net
basePath: /services/

produces:
  - application/json

tags:
  - name: "Project: ZKH"
  - name: "Project: HAP"
  - name: "Service: Domain"
  - name: "Service: Capacity"
  - name: "Service: Interrupt"
  - name: "Service: Prediction"
  - name: "Service: Rooms"
  - name: "Service: Settings"
  - name: "Service: Target"
  - name: "Service: Timeline"
  - name: "Service: Workflow"
  - name: "Reporting"

definitions:
  Arts:
    type: string
    enum:
      - vpk
      - seh
      - int
      - chi
      - ov
    description: |
      Type arts:
      * vpk: Verpleegkundige (geen arts)
      * seh: SEH arts
      * int: Internist
      * chi: Chirurg
      * ov: Overig

  Care:
    type: string
    enum:
      - lc
      - mc
      - hc
    description: |
      Type zorg dat benodigd is:
      * hc: High Care
      * mc: Medium Care
      * lc: Low Care

  VisitorStatus:
    type: string
    enum:
      - wachtend
      - inbehandeling
    description: |
      Status van de bezoeker:
      * wachtend: Wachtend op arts
      * inbehandeling: Gezien door een arts
      * opname: Geregistreerd voor opname, maar nog niet opgenomen

  Timeline:
    type: object
    required:
      - visitors
    properties:
      visitors:
        type: array
        items:
          $ref: '#/definitions/VisitorRecord'
    example:
      {
        "visitors": [
          {
            "bezoek_nummer": "0000320459",
            "type_arts": "sha",
            "care": "hc",
            "status": "inbehandeling",
            "queue": 0,
            "specialisme": "Heelkunde",
            "kamernummer": "D15.01",
            "reden": "Stomp buiktrauma",
            "leeftijdsgroep": 1,
            "herkomst": "Huisarts",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 262,
            "minuten_tot_dokter": 200,
            "minuten_sinds_dokter": 62,
            "minuten_sinds_beslissing": 0
          },
          {
            "bezoek_nummer": "0000320452",
            "type_arts": "int",
            "care": "lc",
            "status": "wachtend",
            "queue": 0,
            "specialisme": "Interne geneeskunde",
            "kamernummer": "D17.01",
            "reden": "Algehele malaise",
            "leeftijdsgroep": 7,
            "herkomst": "Radiologie",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 42,
            "minuten_tot_dokter": 42,
            "minuten_sinds_dokter": 0,
            "minuten_sinds_beslissing": 0
          },
          {
            "bezoek_nummer": "0000320452",
            "type_arts": "int",
            "care": "lc",
            "status": "wachtend",
            "queue": 0,
            "specialisme": "Interne geneeskunde",
            "kamernummer": "D17.01",
            "reden": "Algehele malaise",
            "leeftijdsgroep": 4,
            "herkomst": "Huisartsenpost",

            "binnenkomst": "2017-03-13T10:08:00+0200",
            "naar_kamer": "2017-03-13T10:26:00+0200",
            "gezien": "2017-03-13T11:12:00+0200",
            "minuten_aanwezig": 42,
            "minuten_tot_dokter": 42,
            "minuten_sinds_dokter": 0,
            "minuten_sinds_beslissing": 0
          }
        ]
      }

  VisitorRecord:
    type: object
    properties:
      bezoek_nummer:
        type: string
        description: Unieke identifier voor dit bezoek
      type_arts:
        $ref: '#/definitions/Arts'
      care:
        $ref: '#/definitions/Care'
      status:
        $ref: '#/definitions/VisitorStatus'
      queue:
        type: integer
        format: int32
        description: Totaal aantal aanwezige bezoekers die dezelfde arts nodig hebben.
        minimum: 0
      specialisme:
        type: string
        description: Het exacte specialisme van de benodigde arts.
      kamernummer:
        type: string
        description: Het kamernummer (eventueel met bednummer) waar deze bezoeker momenteel verblijft.
          Het is mogelijk dat een bezoeker wel gezien is, nog niet vertrokken is, en niet meer op een kamer ligt.
      reden:
        type: string
        description: De reden van dit bezoek.
      binnenkomst:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is binnengekomen.
      naar_kamer:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker de huidige behandelkamer is binnengekomen.
      gezien:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker voor het eerst is gezien door een arts.
      opname:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is geregistreerd voor opname.
      minuten_aanwezig:
        type: integer
        description: "De huidige verblijftijd: het aantal minuten van binnenkomst tot nu."
      minuten_tot_dokter:
        type: integer
        description: "De huidige deur-tot-doktertijd; indien de bezoeker gezien is: het aantal minuten van binnenkomst tot `gezien`; anders gelijk aan `minuten_aanwezig`."
      minuten_sinds_dokter:
        type: integer
        description: "Voor bezoekers die gezien zijn door een arts: het aantal minuten sinds `gezien`. Anders gelijk aan 0."
      minuten_sinds_beslissing:
        type: integer
        description: "Voor bezoekers waar de arts een beslissing over genomen heeft: het aantal minuten sinds `opname`. Anders gelijk aan 0."
      leeftijdsgroep:
        type: integer
        description: "Abstracte indicatie van de leeftijdsgroep van deze bezoeker."
      herkomst:
        type: string
        description: "Code die aangeeft hoe deze patiënt op deze afdeling terecht is gekomen."

    required:
      - bezoek_nummer
      - type_arts
      - care
      - status
      - queue
      - reden
      - leeftijdsgroep
      - herkomst
      - binnenkomst
      - minuten_aanwezig
      - minuten_tot_dokter
      - minuten_sinds_dokter
      - minuten_sinds_beslissing
    example:
      {
        "bezoek_nummer": "0000320459",
        "type_arts": "sha",
        "care": "HC",
        "status": "inbehandeling",
        "queue": 0,
        "specialisme": "Heelkunde",
        "kamernummer": "D15.01",
        "reden": "Stomp buiktrauma",
        "leeftijdsgroep": 4,
        "herkomst": "Huisarts",

        "binnenkomst": "2017-03-13T10:08:00+0200",
        "naar_kamer": "2017-03-13T10:26:00+0200",
        "gezien": "2017-03-13T11:12:00+0200",
        "minuten_aanwezig": 262,
        "minuten_tot_dokter": 200,
        "minuten_sinds_dokter": 62,
        "minuten_sinds_beslissing": 0
      }

  PredictionList:
    type: array
    items:
      $ref: '#/definitions/Prediction'

  Prediction:
    type: object
    example:
      {
        "timestamp": "2016-08-12T09:32:35.837Z",
        "arts": "sha",
        "afdeling": "seh",
        "d2d": 24,
        "vbt": 160,
        "wachtend": 1,
        "aanwezig": 4,
        "wachtend_opname": 0,
        "kamers_bezet": 5,
        "wachtend_arts": 1,
        "aanwezig_arts": 2,
        "in_behandeling_arts": 1,
        "model": "dz-sha-aa-1:dz-sha-aw-2"
      }
    required:
      - timestamp
      - arts
      - afdeling
      - d2d
      - vbt
      - wachtend
      - aanwezig
      - wachtend_opname
      - kamers_bezet
      - model
      - wachtend_arts
      - aanwezig_arts
      - in_behandeling_arts
    properties:
      timestamp:
        type: string
        format: date-time
        description: >
          Tijdstip waar de voorspelling voor is gemaakt. Als de service is aangeroepen met een `t` parameter
          dan is dit de waarde van die parameter.
      arts:
        type: string
        description: >
          Type arts waarvoor de voorspelling is gemaakt. Als de service is aangeroepen met een `arts` parameter, dan
          is dit de waarde van die parameter.
      afdeling:
        type: string
        description: De afdeling waarvoor de voorspelling is gemaakt
      d2d:
        type: integer
        format: int32
        minimum: 0
        description: Voorspelde deur-tot-doktertijd in minuten
      vbt:
        type: integer
        format: int32
        minimum: 0
        description: Voorspelde totale verblijftijd in minuten
      wachtend:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal patiënten aanwezig op tijdstip t die nog wachten op een dokter
      aanwezig:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal patiënten aanwezig op tijdstip t, ongeacht of zij een dokter gezien hebben
      wachtend_opname:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal patiënten aanwezig op tijdstip t die opgenomen moeten worden, maar dat nog niet zijn
      kamers_bezet:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal kamers dat bezet is
      wachtend_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten aanwezig op tijdstip t die nog wachten op deze specifieke arts
      aanwezig_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten aanwezig op tijdstip t, die te maken hebben met deze specifieke arts
      in_behandeling_arts:
        type: integer
        format: int32
        minimum: 0
        description: Aantal patiënten in behandeling bij deze arts op tijdstip t
      model:
        type: string
        description: Identifier voor het gebruikte model

  InterruptStatus:
    type: object
    required:
      - type
    properties:
      type:
        type: string
        enum:
          - spoed-patient
        description: Type interrupt
      seconds_remaining:
        type: integer
        format: int32
        minimum: 0
        description: >
          Aantal seconden dat deze interrupt nog aan blijft staan. Interrupts *kunnen* eerder inactief
          worden, dus dit is meer een indicatie. Afwezig indien er geen interrupt actief is.
      message:
        type: string
        description: Tekst die bij deze interrupt hoort. Afwezig indien er geen interrupt actief is.
    example:
      {
        "type": "spoed-patient",
        "seconds_remaining": 285,
        "message": "Er is een patiënt binnengebracht die al onze aandacht behoeft. Uw behandeling duurt hierdoor mogelijk langer. Bedankt voor uw begrip."
      }

  RoomDetails:
    type: object
    required:
      - kamernummer
      - bezet
    example:
      {
        "kamernummer": "TRC1.1",
        "bezet": true
      }
    properties:
      kamernummer:
        type: string
      bezet:
        type: boolean

  RoomOverview:
    type: object
    required:
      - rooms
    example:
      {
        "rooms": [
          {
            "kamernummer": "TRC1.1",
            "bezet": true
          },
          {
            "kamernummer": "TRC2.1",
            "bezet": true
          },
          {
            "kamernummer": "D01.01",
            "bezet": false
          },
          {
            "kamernummer": "D02.01",
            "bezet": false
          }
        ]
      }
    properties:
      rooms:
        type: array
        items:
          $ref: '#/definitions/RoomDetails'

  ArtsWerk:
    type: object
    description: Hoeveelheid behandelpunten beschikbaar of benodigd per arts
    required:
      - vpk
      - sha
      - int
      - chi
      - ova
    properties:
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten beschikbaar of benodigd voor verpleegkundigen
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten beschikbaar of benodigd voor SEH artsen
      int:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten beschikbaar of benodigd voor internisten
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten beschikbaar of benodigd voor chirurgen
      ova:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten beschikbaar of benodigd voor 'overige' artsen

  TreatmentPointOverview:
    type: object
    example:
      {
        "behandelpunten": [
          {
            "benodigd": {
              "chi": 0,
              "int": 138,
              "ova": 185,
              "sha": 277,
              "vpk": 277
            },
            "beschikbaar": {
              "chi": 0,
              "int": 0,
              "ova": 0,
              "sha": 120,
              "vpk": 240
            },
            "tijdvak": "2016-01-01T18:00:00+01:00"
          },
          {
            "benodigd": {
              "chi": 0,
              "int": 145,
              "ova": 193,
              "sha": 290,
              "vpk": 290
            },
            "beschikbaar": {
              "chi": 0,
              "int": 0,
              "ova": 0,
              "sha": 0,
              "vpk": 0
            },
            "tijdvak": "2016-01-01T19:00:00+01:00"
          }
        ]
      }
    properties:
      behandelpunten:
        type: array
        description: Een lijst van behandelpunt-gegevens, geordend op tijdvak.
        items:
          $ref: '#/definitions/TreatmentPoint'

  TreatmentPoint:
    type: object
    required:
      - tijdvak
      - benodigd
      - beschikbaar
    properties:
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende behandelpunten.
      benodigd:
        $ref: '#/definitions/ArtsWerk'
      beschikbaar:
        $ref: '#/definitions/ArtsWerk'

  Capacity:
    type: object
    example:
      {
        "tijdvak": "2017-04-22T12:00:00+0200",
        "vpk": 6,
        "sha": 2,
        "int": 4,
        "chi": 0,
        "ova":  0
      }
    required:
      - tijdvak
      - vpk
      - sha
      - int
      - chi
      - ova
    properties:
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende capaciteit.
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor verpleegkundigen voor dit tijdvak
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor SEH artsen voor dit tijdvak
      int:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor internisten voor dit tijdvak
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor chirurgen voor dit tijdvak
      ova:
        type: integer
        format: int32
        minimum: 0
        description: Beschikbaar aantal behandelpunten voor 'overige' artsen voor dit tijdvak

  TreatmentPointDetails:
    type: array
    items:
      $ref: '#/definitions/TreatmentPointDetail'

  TreatmentPointDetail:
    type: object
    properties:
      bezoek_nummer:
        type: string
        description: Unieke identifier voor dit bezoek
      binnenkomst:
        type: string
        format: 'date-time'
        description: Datum/Tijd waarop de bezoeker is binnengekomen.
      minuten_aanwezig:
        type: integer
        description: "De huidige verblijftijd: het aantal minuten van binnenkomst tot nu."
      patientgroep:
        type: string
        description: "Groep waar deze patient onder is geschaard voor het berekenen van behandelpunten."
      tijdvak:
        type: string
        format: 'date-time'
        description: Tijdvak voor de berekende behandelpunten.

      behandelpunten:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor dit tijdvak
      vpk:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor verpleegkundigen voor dit tijdvak
      sha:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor SEH artsen voor dit tijdvak
      int:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor internisten voor dit tijdvak
      chi:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor chirurgen voor dit tijdvak
      ov:
        type: integer
        format: int32
        minimum: 0
        description: Totaal aantal behandelpunten benodigd voor 'overige' artsen voor dit tijdvak

  TargetInfo:
    type: object
    required:
      - t
      - p80
      - avg
      - visits
    example:
      {
        "t": "2017-05-22",
        "p80": 67,
        "avg": 156,
        "visits": 40
      }
    properties:
      t:
        type: string
        format: date
        description: Begindatum van de periode waarvoor deze informatie geldig is.
      p80:
        type: integer
        format: int32
        minimum: 0
        description: "Tijdsduur van het opgevraagde interval van het 80e percentiel."
      avg:
        type: integer
        format: int32
        minimum: 0
        description: "Gemiddelde duur van het opgevraagde interval: het aantal minuten van binnenkomst tot nu."
      visits:
        type: integer
        format: int32
        minimum: 0
        description: "Het gemiddeld aantal bezoeken per dag"

  Target:
    type: object
    required:
      - data
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/TargetInfo'

  Settings:
    type: object
    required:
      - naam
      - theme
      - afdelingen
    properties:
      naam:
        type: string
        description: Naam van het ziekenhuis
      theme:
        type: string
        description: Identifier die gebruikt wordt om het visuele thema te bepalen.
      afdelingen:
        $ref: '#/definitions/AfdelingSettingsCollection'
    example:
      {
        "theme": "theme-example",
        "naam": "Voorbeeld ziekenhuis",
        "afdelingen": {
          "seh": {
            "naam": "Spoedpost",
            "labels": {
              "sha": "Arts",
              "vpk": "Verpleegkundige",
              "ova": "Overige artsen"
            },
            "aantal_kamers": 12,
            "targets": {
              "deur_tot_vertrek": 180,
              "deur_tot_dokter": 30,
              "dokter_tot_beslissing": 90,
              "beslissing_tot_opname": 60
            },
            "artsen": ["sha", "vpk", "ova"],
            "features": ["capacity"],
            "specialismes": [
              "Cardiologie",
              "Gynaecologie en Verloskunde",
              "Klinische geriatrie",
              "SEH",
              "Specialismen onbekend",
            ],
            "ingangsklachten": [
              "Humerusfractuur",
              "Hydradenitis",
              "Hypercalciumie",
            ],
            "capacity": {
              "artsen": ["sha", "vpk"]
            },
          },
          "ehh": {
            "naam": "Eerste-Hart Hulp",
            "labels": {
              "sha": "Arts",
              "vpk": "Verpleegkundige"
            },
            "aantal_kamers": 3,
            "targets": {
              "deur_tot_vertrek": 90,
              "deur_tot_dokter": 15,
              "dokter_tot_beslissing": 45,
              "beslissing_tot_opname": 30
            },
            "target_vbt": 180,
            "artsen": ["sha", "vpk"],
            "features": ["capacity"],
            "specialismes": [
              "Cardiologie",
              "SEH",
            ],
            "ingangsklachten": [
              "Hyperventilatie",
              "Hypocalciëmie",
              "Hypoglykemie"
            ]
          }
        }
      }

  HAPSettings:
    type: object
    required:
      - naam
      - theme
      - afdelingen
    properties:
      naam:
        type: string
        description: Volledige naam van deze huisartsenpost
      theme:
        type: string
        description: Identifier die gebruikt wordt om het visuele thema te bepalen.
      afdelingen:
        type: object
        additionalProperties:
          type: object
    example:
      {
        "naam": "Huisartsenpost",
        "theme": "hap",
        "afdelingen": {
          "afd1": {
            "naam": "Afdeling 1"
          },
          "afd2": {
            "naam": "Afdeling 2"
          }
        }
      }

  AfdelingSettingsCollection:
    type: object
    properties:
      seh:
        $ref: '#/definitions/AfdelingSettings'
        description: Settings voor de SEH
      ehh:
        $ref: '#/definitions/AfdelingSettings'
        description: Settings voor de EHH

  AfdelingSettings:
    type: object
    required:
      - naam
      - artsen
      - labels
      - aantal_kamers
      - targets
      - features
      - specialismes
      - ingangsklachten
    properties:
      naam:
        type: string
        description: Naam van de afdeling
      artsen:
        type: array
        items:
          type: string
          enum:
            - vpk
            - sha
            - int
            - chi
            - ova
        description: Lijst met alle arts-types die voor deze afdeling relevant zijn; omvat `vpk`, `sha`, `int`, `chi`, `ova`.
      labels:
        type: object
        title: Labels
        properties:
          vpk:
            type: string
            description: Label voor verpleegkundigen. Afwezig indien `vpk` niet genoemd is in `artsen`.
          sha:
            type: string
            description: Label voor SEH artsen. Afwezig indien `sha` niet genoemd is in `artsen`.
          int:
            type: string
            description: Label voor internisten. Afwezig indien `int` niet genoemd is in `artsen`.
          chi:
            type: string
            description: Label voor chirurgen. Afwezig indien `chi` niet genoemd is in `artsen`.
          ova:
            type: string
            description: Label voor overige artsen. Afwezig indien `ova` niet genoemd is in `artsen`.
      aantal_kamers:
        type: integer
        format: int32
        min: 0
        description: Aantal kamers op deze afdeling
      targets:
        type: object
        title: Targets
        description: Target waarden voor de target module; voor ieder soort periode geeft dit het aantal minuten waar 80% van de gevallen onder moet blijven.
        properties:
          deur_tot_vertrek:
            type: integer
            format: int32
            min: 0
          deur_tot_dokter:
            type: integer
            format: int32
            min: 0
          dokter_tot_beslissing:
            type: integer
            format: int32
            min: 0
          beslissing-tot-opname:
            type: integer
            format: int32
            min: 0
        required:
          - deur_tot_vertrek
          - deur_tot_dokter
          - dokter_tot_beslissing
          - beslissing-tot-opname
      features:
        type: array
        items:
          type: string
          enum:
            - capacity
          description: Lijst met alle features die voor deze afdeling aanwezg zijn; omvat `capacity`.
      specialismes:
        type: array
        items:
          type: string
        description: Lijst met alle specialismes die voor deze afdeling gedefiniëerd zijn.
      ingangsklachten:
        type: array
        items:
          type: string
        description: Lijst met veel voorkomende ingangsklachten die voor deze afdeling gedefiniëerd zijn.
      capacity:
        $ref: '#/definitions/CapacitySettings'
        description: Instellingen voor capacity

  CapacitySettings:
    type: object
    required:
      - artsen
    properties:
      artsen:
        type: array
        items:
          type: string
          enum:
            - vpk
            - sha
            - int
            - chi
            - ova
        description: Lijst met alle arts-types die voor de Capacity feature relevant zijn

  WorkflowOverzicht:
    type: object
    required:
      - t
      - start
      - einde
      - afdelingen
      - periodes
    properties:
      t:
        type: string
        format: date-time
        description: Tijdstip waarvoor dit overzicht is aangevraagd
      start:
        type: string
        format: date-time
        description: Begintijd van dit overzicht
      einde:
        type: string
        format: date-time
        description: Eindtijd van dit overzicht
      afdelingen:
        type: array
        items:
          $ref: '#/definitions/WorkflowAfdeling'
        description: Details van de afdelingen in dit overzicht
      periodes:
        type: array
        description: Periodes (tijdvakken van 1 uur) in dit overzicht
        items:
          $ref: '#/definitions/WorkflowPeriode'
    example:
      {
        "t": "2017-10-18T13:32:00+02:00",
        "start": "2017-10-01T12:00:00+02:00",
        "einde": "2017-10-01T13:00:00+02:00",
        "afdelingen": [
          {
            "afdeling": "alph",
            "vertraagd": 0,
            "wachttijd_min": 0,
            "wachttijd_max": 0
          },
          {
            "afdeling": "ldd",
            "vertraagd": 2,
            "wachttijd_min": 15,
            "wachttijd_max": 30
          }
        ],
        "periodes": [
          {
            "start": "2017-10-01T12:00:00+02:00",
            "einde": "2017-10-01T13:00:00+02:00",
            "tijden": [
              "2017-10-01T12:00:00+02:00",
              "2017-10-01T12:15:00+02:00",
              "2017-10-01T12:30:00+02:00",
              "2017-10-01T12:45:00+02:00"
            ],
            "slots": [
              {
                "id": "alph/25114200/0",
                "afdeling": "alph",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T12:15:00+02:00",
                "achterwacht": false
              },
              {
                "id": "alph/25114200/1",
                "afdeling": "alph",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T12:15:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114200/0",
                "afdeling": "ldd",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T12:15:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114200/1",
                "afdeling": "ldd",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T12:15:00+02:00",
                "achterwacht": false
              },
              {
                "id": "alph/25114215/0",
                "afdeling": "alph",
                "start": "2017-10-01T12:15:00+02:00",
                "einde": "2017-10-01T12:30:00+02:00",
                "achterwacht": false
              },
              {
                "id": "alph/25114215/1",
                "afdeling": "alph",
                "start": "2017-10-01T12:15:00+02:00",
                "einde": "2017-10-01T12:30:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114215/0",
                "afdeling": "ldd",
                "start": "2017-10-01T12:15:00+02:00",
                "einde": "2017-10-01T12:30:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S122876",
                  "urgentie": "U4",
                  "aangemaakt": "2017-10-01T11:45:00+02:00",
                  "gearriveerd": "2017-10-01T12:06:00+02:00",
                  "start": "2017-10-01T12:15:00+02:00",
                  "einde": "2017-10-01T12:30:00+02:00",
                  "status": "vertraagd",
                  "icpc_code": "F70.01",
                  "icpc_uitleg": "Bacteriële conjunctivitis",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "2"
                }
              },
              {
                "id": "ldd/25114215/1",
                "afdeling": "ldd",
                "start": "2017-10-01T12:15:00+02:00",
                "einde": "2017-10-01T12:30:00+02:00",
                "achterwacht": false
              },
              {
                "id": "alph/25114230/0",
                "afdeling": "alph",
                "start": "2017-10-01T12:30:00+02:00",
                "einde": "2017-10-01T12:45:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S934280",
                  "urgentie": "U3",
                  "aangemaakt": "2017-10-01T11:55:00+02:00",
                  "gearriveerd": "2017-10-01T12:18:00+02:00",
                  "start": "2017-10-01T12:30:00+02:00",
                  "einde": "2017-10-01T12:45:00+02:00",
                  "status": "gemist",
                  "icpc_code": "L86.01",
                  "icpc_uitleg": "HNP (thoracaal/lumbaal)",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "5"
                }
              },
              {
                "id": "alph/25114230/1",
                "afdeling": "alph",
                "start": "2017-10-01T12:30:00+02:00",
                "einde": "2017-10-01T12:45:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114230/0",
                "afdeling": "ldd",
                "start": "2017-10-01T12:30:00+02:00",
                "einde": "2017-10-01T12:45:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114230/1",
                "afdeling": "ldd",
                "start": "2017-10-01T12:30:00+02:00",
                "einde": "2017-10-01T12:45:00+02:00",
                "achterwacht": false
              },
              {
                "id": "alph/25114245/0",
                "afdeling": "alph",
                "start": "2017-10-01T12:45:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S980584",
                  "urgentie": "U3",
                  "aangemaakt": "2017-10-01T11:47:00+02:00",
                  "gearriveerd": "2017-10-01T12:50:00+02:00",
                  "start": "2017-10-01T12:45:00+02:00",
                  "einde": "2017-10-01T13:00:00+02:00",
                  "status": "gepland",
                  "icpc_code": "L18.01",
                  "icpc_uitleg": "Fibromyalgie",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "1"
                }
              },
              {
                "id": "alph/25114245/1",
                "afdeling": "alph",
                "start": "2017-10-01T12:45:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S  7727",
                  "urgentie": "U4",
                  "aangemaakt": "2017-10-01T12:06:00+02:00",
                  "gearriveerd": "2017-10-01T12:24:00+02:00",
                  "start": "2017-10-01T12:45:00+02:00",
                  "einde": "2017-10-01T13:00:00+02:00",
                  "status": "gepland",
                  "icpc_code": "N88.00",
                  "icpc_uitleg": "Epilepsie (alle vormen)",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "1"
                }
              },
              {
                "id": "ldd/25114245/0",
                "afdeling": "ldd",
                "start": "2017-10-01T12:45:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false
              },
              {
                "id": "ldd/25114245/1",
                "afdeling": "ldd",
                "start": "2017-10-01T12:45:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S 86785",
                  "urgentie": "U4",
                  "aangemaakt": "2017-10-01T12:11:00+02:00",
                  "gearriveerd": "2017-10-01T12:47:00+02:00",
                  "start": "2017-10-01T12:45:00+02:00",
                  "einde": "2017-10-01T13:00:00+02:00",
                  "status": "vertraagd",
                  "icpc_code": "U14.00",
                  "icpc_uitleg": "Symptomen/klachten nieren",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "7"
                }
              }
            ],
            "u2": [
              {
                "id": "alph/25114200/0",
                "afdeling": "alph",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S764929",
                  "urgentie": "U2",
                  "aangemaakt": "2017-10-01T11:27:00+02:00",
                  "gearriveerd": "2017-10-01T11:38:00+02:00",
                  "start": "2017-10-01T12:00:00+02:00",
                  "einde": "2017-10-01T12:15:00+02:00",
                  "status": "vertraagd",
                  "icpc_code": "U14.00",
                  "icpc_uitleg": "Symptomen/klachten nieren",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "9"
                }
              },
              {
                "id": "ldd/25114200/0",
                "afdeling": "ldd",
                "start": "2017-10-01T12:00:00+02:00",
                "einde": "2017-10-01T13:00:00+02:00",
                "achterwacht": false,
                "afspraak": {
                  "id": "S915097",
                  "urgentie": "U2",
                  "aangemaakt": "2017-10-01T11:22:00+02:00",
                  "gearriveerd": "2017-10-01T11:47:00+02:00",
                  "start": "2017-10-01T12:00:00+02:00",
                  "einde": "2017-10-01T12:15:00+02:00",
                  "status": "vertraagd",
                  "icpc_code": "S13.00",
                  "icpc_uitleg": "Beet mens/dier",
                  "postcode": "1000 AA",
                  "leeftijdsgroep": "5"
                }
              }
            ]
          }
        ]
      }

  WorkflowAfdeling:
    type: object
    required:
      - id
      - vertraagd
      - wachttijd_min
      - wachttijd_max
    properties:
      id:
        type: string
        description: ID van deze afdeling
      vertraagd:
        type: integer
        description: Aantal slots dat deze afdeling achterloopt op planning
      wachttijd_min:
        type: integer
        description: Ondergrend wachttijd in minuten
      wachttijd_max:
        type: integer
        description: Bovengrens wachttijd in minuten

  WorkflowPeriode:
    type: object
    required:
      - start
      - einde
      - tijden
      - slots
      - u2
    properties:
      start:
        type: string
        format: date-time
        description: Begintijd van deze periode
      einde:
        type: string
        format: date-time
        description: Eindtijd van deze periode
      tijden:
        type: array
        description: Lijst van de begintijden van alle tijdvakken binnen deze periode
        items:
          type: string
          format: date-time
      slots:
        type: array
        description: Lijst van alle normale slots binnen deze periode
        items:
          $ref: '#/definitions/WorkflowSlot'
      u2:
        type: array
        description: Lijst van alle slots voor urgente afspraken binnen deze periode
        items:
          $ref: '#/definitions/WorkflowSlot'

  WorkflowSlot:
    type: object
    required:
      - id
      - afdeling
      - start
      - einde
      - achterwacht
    properties:
      id:
        type: string
        description: Uniek ID voor dit slot
      afdeling:
        type: string
        description: ID van de afdeling waar dit slot bij hoort
      start:
        type: string
        format: date-time
        description: Begintijd van dit slot
      einde:
        type: string
        format: date-time
        description: Eindtijd van dit slot
      achterwacht:
        type: boolean
        description: true voor niet-reguliere slots

      afspraak:
        $ref: '#/definitions/WorkflowAfspraak'
        description: Mogelijke afspraak binnen dit slot

  WorkflowAfspraak:
    type: object
    required:
      - id
      - urgentie
      - status
    properties:
      id:
        type: string
        description: Uniek ID voor deze afspraak
      urgentie:
        type: string
        description: Urgentie-code voor deze afspraak
      aangemaakt:
        type: string
        format: date-time
        description: Tijdstip waarop deze afspraak is gemaakt
      gearriveerd:
        type: string
        format: date-time
        description: Tijdstip waarop de patient is gearriveerd
      start:
        type: string
        format: date-time
        description: Tijdstip waarop deze afspraak daadwerkelijk is begonnen
      einde:
        type: string
        format: date-time
        description: Tijdstip waarop deze afspraak daadwerkelijk is begonnen
      status:
        type: string
        enum:
          - "gepland"
          - "begonnen"
          - "afgerond"
          - "vertraagd"
          - "gemist"
        description: Status van deze afspraak
      icpc_code:
        type: string
        description: Code voor de diagnose
      icpc_uitleg:
        type: string
        description: Tekstuele verklaring van de ICPC code
      postcode:
        type: string
        description: Postcode van de patient
      leeftijdsgroep:
        type: string
        description: Leeftijdsgroep van de patient
    example:
      {
        "id": "S122876",
        "urgentie": "U4",
        "aangemaakt": "2017-10-01T11:45:00+02:00",
        "gearriveerd": "2017-10-01T12:06:00+02:00",
        "start": "2017-10-01T12:17:00+02:00",
        "einde": "2017-10-01T12:28:00+02:00",
        "status": "afgerond",
        "icpc_code": "L18.01",
        "icpc_uitleg": "Fibromyalgie",
        "postcode": "1000 AA",
        "leeftijdsgroep": "2"
      }

parameters:
  project:
    name: project
    type: string
    in: query
    required: false
    default: "zkh"
    description: Het project waarvoor de data opgevraagd wordt
    enum:
      - zkh
      - hap

  afdeling:
    name: afdeling
    type: string
    in: query
    required: true
    description: De afdeling waarvoor deze informatie wordt opgevraagd
    enum:
      - "seh"
      - "ehh"

  tijdstip:
    name: t
    type: string
    format: 'date-time'
    in: query
    required: false
    description: Optionele datum/tijd in het verleden. Heeft 'nu' als default. Als deze parameter is opgegeven, dan
      gedraagt de service zich alsof deze op dat moment werd aangeroepen.

  d-from:
    name: from
    type: string
    format: 'date'
    in: query
    required: true
    description: Datum (zonder tijd) in het verleden; gebruikt om een periode aan te geven. 

  d-to:
    name: to
    type: string
    format: 'date'
    in: query
    required: true
    description: Datum (zonder tijd); gebruikt om een periode aan te geven.

  t-from:
    name: from
    type: string
    format: 'date-time'
    in: query
    required: true
    description: Datum/tijd in het verleden; gebruikt om een periode aan te geven.

  t-to:
    name: to
    type: string
    format: 'date-time'
    in: query
    required: true
    description: Datum/tijd; gebruikt om een periode aan te geven.

  arts:
    name: arts
    in: query
    description: Type arts
    required: false
    type: string
    enum:
      - "chi"
      - "sha"
      - "int"
      - "ova"
      - "vpk"

paths:
  /v2/domains/:
    get:
      summary: Vraag de beschikbare domeinen op voor de huidige gebruiker
      description: In tegenstelling tot de overige services is deze alleen beschikbaar op https://app.door2doc.net/services/v2/domains/
      tags:
        - 'Service: Domain'
        - 'Project: ZKH'
        - 'Project: HAP'
      operationId: getDomains
      parameters:
        - $ref: "#/parameters/project"
      responses:
        200:
          schema:
            type: array
            items:
              type: string
            example: ["demo.door2doc.net", "zkh.door2doc.net"]

  /v2/settings/:
    get:
      summary: Haal de settings op voor dit ziekenhuis
      tags:
        - 'Service: Settings'
        - 'Project: ZKH'
      operationId: getSettings
      responses:
        200:
          schema:
            $ref: '#/definitions/Settings'

  /v2/settings/hap/:
    get:
      summary: Haal de settings op voor deze huisartsenpost
      tags:
        - 'Service: Settings'
        - 'Project: HAP'
      operationId: getSettingsHAP
      responses:
        200:
          schema:
            $ref: '#/definitions/HAPSettings'

  /v2/rooms/:
    get:
      summary: Haal een overzicht op van de bestaande kamernummers.
      tags:
        - 'Service: Rooms'
        - 'Project: ZKH'
      operationId: getRooms
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: Een overzicht van de beschikbare kamers.
          schema:
            $ref: '#/definitions/RoomOverview'

  /v2/rooms/{kamernummer}/:
    get:
      summary: Informatie over de patiënt op de opgegeven kamer.
      tags:
        - 'Service: Rooms'
        - 'Project: ZKH'
      operationId: getRoom
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
        - name: kamernummer
          type: string
          description: Een bestaand kamernummer
          required: true
          in: path
      responses:
        200:
          description: Gegevens van de bezoeker die momenteel op deze kamer verblijft.
          schema:
            $ref: '#/definitions/VisitorRecord'
        204:
          description: Er is momenteel geen bezoeker op deze kamer.
        404:
          description: Het opgegeven kamernummer bestaat niet.
        400:
          description: Een van de parameters is incorrect.

  /v2/timeline/:
    get:
      summary: Haal een overzicht op van de huidige bezoekers.
      tags:
        - 'Service: Timeline'
        - 'Project: ZKH'
      operationId: getTimeline
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: Een arbitrair geordende lijst van alle bezoekers die op dit moment aanwezig zijn.
          schema:
            $ref: '#/definitions/Timeline'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/predict/:
    get:
      summary: Voorspel de wachttijd op de opgegeven afdeling
      operationId: get_prediction
      tags:
        - 'Service: Prediction'
        - 'Project: ZKH'
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/arts'
        - $ref: '#/parameters/tijdstip'
      responses:
        200:
          description: De voorspelling voor het opgegeven tijdstip
          schema:
            $ref: '#/definitions/Prediction'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/predict/range/:
    get:
      summary: Haal een serie aan voorspellingen op
      operationId: get_predictions_in_range
      tags:
        - 'Service: Prediction'
        - 'Reporting'
        - 'Project: ZKH'
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/arts'
        - name: from
          in: query
          description: Datum waarop de serie begint, in het formaat YYYY-MM-DD.
          required: true
          type: string
          format: date
        - name: days
          in: query
          description: Aantal dagen waarover de serie berekend wordt.
          required: true
          default: 7
          type: integer
          format: int32
          minimum: 1
          maximum: 31
      produces:
        - text/csv
      responses:
        200:
          description: De voorspellingen voor het opgegeven tijdstip
          schema:
            $ref: '#/definitions/PredictionList'
        400:
          description: Fout bij het uitlezen van een van de parameters.

  /v2/interrupt/spoed-patient/:
    get:
      summary: Haal de waarde van de interrupt "spoed-patient" op.
      tags:
        - 'Service: Interrupt'
        - 'Project: ZKH'
      operationId: getSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De status van de interrupt "spoed-patient". Indien de interrupt uit staat, is het veld 'seconds_remaining' afwezig.
          schema:
            $ref: '#/definitions/InterruptStatus'
        400:
          description: Fout bij het uitlezen van een van de parameters

    put:
      summary: Activeer de interrupt "spoed-patient".
      tags:
        - 'Service: Interrupt'
        - 'Project: ZKH'
      operationId: setSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De nieuwe status van de interrupt "spoed-patient".
          schema:
            $ref: '#/definitions/InterruptStatus'
        400:
          description: Fout bij het uitlezen van een van de parameters

    delete:
      summary: Deactiveer de interrupt "spoed-patient".
      tags:
        - 'Service: Interrupt'
        - 'Project: ZKH'
      operationId: unsetSpoedPatient
      parameters:
        - $ref: '#/parameters/afdeling'
      responses:
        200:
          description: De nieuwe status van de interrupt "spoed-patient"; de velden 'seconds_remaining' en 'description' zullen hierin afwezig zijn.
          schema:
            $ref: '#/definitions/InterruptStatus'

  /v2/capacity/calculate/:
    get:
      summary: Bereken de capaciteit in behandelpunten over de opgegeven periode
      tags:
        - 'Service: Capacity'
        - 'Project: ZKH'
      operationId: getCapacity
      parameters:
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/d-from'
        - $ref: '#/parameters/d-to'
      produces:
        - application/json
        - text/csv
      responses:
        200:
          description: De behandelpunten voor de opgegeven periode per tijdsvak
          schema:
            $ref: '#/definitions/TreatmentPointOverview'

  /v2/capacity/calculate/details/:
    get:
      summary: Gedetailleerde output over de capaciteit
      tags:
        - 'Service: Capacity'
        - 'Reporting'
        - 'Project: ZKH'
      operationId: getCapacityReport
      parameters:
        - $ref: '#/parameters/arts'
        - $ref: '#/parameters/afdeling'
        - $ref: '#/parameters/d-from'
        - $ref: '#/parameters/d-to'
      produces:
        - text/csv
      responses:
        200:
          description: De behandelpunten per patiënt voor de opgegeven periode per tijdsvak
          schema:
            $ref: '#/definitions/TreatmentPointDetails'

  /v2/capacity/calculate/summary/:
    get:
      summary: Samenvatting van de capaciteit over het afgelopen jaar
      tags:
        - 'Service: Capacity'
        - 'Project: ZKH'
      operationId: getCapacitySummary
      parameters:
        - $ref: '#/parameters/afdeling'
        - name: referentie
          type: string
          in: query
          description: Bepaalt hoe referentie_nodig wordt berekend; op basis van het gemiddelde, of het zoveelste percentiel
          default: avg
          enum:
            - "avg"
            - "60"
            - "75"
        - name: bandbreedte
          type: string
          in: query
          default: "75"
          enum:
            - "75"
            - "80"
            - "90"
          description: Bepaalt op basis van welk percentiel de bovengrens (en daarmee ook de ondergrens) van de bandbreedte wordt berekend
      responses:
        200:
          description: De capaciteit over het afgelopen jaar per dag/uur
          schema:
            $ref: '#/definitions/TreatmentPointSummary'

  /v2/target/:
    get:
      summary: Geef target informatie
      tags:
        - 'Service: Target'
        - 'Project: ZKH'
      operationId: getTargetInfo
      parameters:
        - $ref: '#/parameters/afdeling'
        - name: pretty
          type: string
          in: query
          description: Pretty printing van het resultaat?
          enum:
            - true
        - name: periode
          type: string
          default: dag
          in: query
          description: Periode waarover gerapporteerd moet worden
          enum:
            - dag
            - week
            - maand
            - jaar
        - name: dienst
          type: string
          in: query
          description: Dienst waarover gerapporteerd moet worden; indien afwezig wordt over de volledige 24h gerapporteerd.
          enum:
            - dag
            - avond
            - nacht
        - name: bestemming
          type: string
          in: query
          description: Bestemming waarover gerapporteerd moet worden; indien afwezig wort over alle bestemmingen gerapporteerd.
          enum:
            - ontslag
            - opname
        - $ref: '#/parameters/arts'
        - name: specialisme
          type: string
          in: query
          description: Beperk rapportage tot patiënten met dit specialisme.
        - name: ingangsklacht
          type: string
          in: query
          description: Beperk rapportage tot patiënten met deze ingangsklacht.
        - name: interval
          type: string
          in: query
          default: deur-tot-vertrek
          description: Interval waarover target berekend wordt.
          enum:
            - deur-tot-vertrek
            - deur-tot-dokter
            - dokter-tot-beslissing
            - beslissing-tot-opname

      responses:
        200:
          description: Target informatie voor de opgegeven filters. De informatie is geordend op tijd en bevat maximaal de laatste 30 datapunten.
          schema:
            $ref: '#/definitions/Target'

  /v2/workflow/overzicht/:
    get:
      summary: Overzicht van de huidige planning voor de HAP
      tags:
        - 'Service: Workflow'
        - 'Project: HAP'
      operationId: getOverview
      parameters:
        - $ref: '#/parameters/tijdstip'
        - name: periodes
          type: integer
          in: query
          description: Aantal periodes die worden getoond in het overzicht
          default: 5
        - name: offset
          type: integer
          in: query
          description: Aantal periodes voor of achteruit t.o.v. de parameter `t`
          default: 0
      responses:
        200:
          description: Het overzicht bestaande uit `periodes` periodes
          schema:
            $ref: '#/definitions/WorkflowOverzicht'

  /ws/workflow/changes/:
    get:
      summary: Websocket voor notificaties van wijzigingen
      tags:
        - 'Service: Workflow'
        - 'Project: HAP'
      responses:
        200:
          description: Bij iedere wijziging wordt het ID van de laatst gewijzigde afspraak verstuurd.

  /v2/workflow/changes/test/:
    get:
      summary: Stuur een bericht naar de changes WebSocket
      tags:
        - "Service: Workflow"
        - "Project: HAP"
      operationId: testWorkflowChanges
      parameters:
        - name: msg
          type: string
          in: query
          description: Bericht om over de websocket te versturen
      responses:
        200:
          description: Het verstuurde bericht
          schema:
            type: string