swagger: "2.0"
info:
  title: LCMS Service
  version: 1.0
  license:
    name: ODC-BY 1.0
    url: http://opendatacommons.org/licenses/by/

  description: |
    Deze service ontsluit de beschikbaarheid van bedden bij aangesloten ziekenhuizen.

    De data die door deze API beschikbaar wordt gemaakt is gelicenseerd onder de
    [Open Data Commons Attribution License](http://opendatacommons.org/licenses/by/1.0/). Wanneer u deze data
    gebruikt, dient u de volgende bronvermelding te hanteren:

      Powered by door2doc

host: data.door2doc.com
basePath: /services/v1/lcms
schemes:
  - https

consumes:
  - application/json

produces:
  - application/json

definitions:
  ZiekenhuisInfoList:
    type: object
    example:
      {
        "timestamp": "2016-12-12T12:38:43.000Z",
        "data": [
          {
            "ziekenhuis": "qcx",
            "ic": {
              "capaciteit": 14,
              "bezet": 8,
              "beschikbaar": 6
            },
            "ok": {
              "capaciteit": 19,
              "bezet": 18,
              "beschikbaar": 1
            }
          },
          {
            "ziekenhuis": "xz",
            "ic": {
              "capaciteit": 4,
              "bezet": 4,
              "beschikbaar": 0
            },
            "seh": {
              "capaciteit": 4,
              "bezet": 0,
              "beschikbaar": 4
            }
          }
        ]
      }
    required:
      - timestamp
      - data
    properties:
      timestamp:
        type: string
        format: date-time
        description: Tijdstip waarop deze informatie is opgehaald
      data:
        description: Entry per ziekenhuis
        type: array
        items:
          $ref: '#/definitions/ZiekenhuisInfo'

  ZiekenhuisInfo:
    type: object
    example:
      {
            "ziekenhuis": "qcx",
            "ok": {
              "capaciteit": 19,
              "bezet": 18,
              "beschikbaar": 1
            },
            "ic": {
              "capaciteit": 14,
              "bezet": 8,
              "beschikbaar": 6
            },
      }
    required:
      - ziekenhuis
    properties:
      ziekenhuis:
        type: string
        description: Uniek ID voor het betreffende ziekenhuis
      ok:
        type: object
        $ref: '#/definitions/Bezetting'
        description: Bezetting van de operatiekamers. Afwezig indien de bezetting van de OK onbekend is voor dit ziekenhuis.
      ic:
        type: object
        $ref: '#/definitions/Bezetting'
        description: Bezetting van de bedden op de intensive care. Afwezig indien de bezetting van de IC onbekend is voor dit ziekenhuis.
      seh:
        type: object
        $ref: '#/definitions/Bezetting'
        description: Bezetting van de behandelruimtes op de spoedeisende hulp. Afwezig indien de bezetting van de SEH onbekend is voor dit ziekenhuis.

  Bezetting:
    type: object
    example:
      {
            "beschikbaar": 6,
            "capaciteit": 14,
            "bezet": 8,
      }
    required:
      - beschikbaar
      - capaciteit
      - bezet
    properties:
      capaciteit:
        type: integer
        format: int32
        description: Het totaal aantal plaatsen

      bezet:
        type: integer
        format: int32
        description: Het aantal plaatsen dat momenteel bezet is

      beschikbaar:
        type: integer
        format: int32
        description: Het aantal plaatsen dat op dit moment beschikbaar is

paths:
  /beschikbaarheid:
    get:
      summary: Haal informatie op over de beschikbaarheid van bedden bij de aangesloten ziekenhuizen
      operationId: get_availability
      tags:
        - Beschikbaarheid
      responses:
        200:
          description: Geeft alle bekende ziekenhuisgegevens terug.
          schema:
            $ref: '#/definitions/ZiekenhuisInfoList'
        403:
          description: Geen toegang
